@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  /* fonts */
  --font-display: "Outfit", "sans-serif";

  /* breakpoints */
  --breakpoint-s_phone: 319px;
  --breakpoint-m_phone: 374px;
  --breakpoint-phone: 429px;
  --breakpoint-tablet: 767px;
  --breakpoint-laptop-sm: 900px;
  --breakpoint-laptop: 1023px;
  --breakpoint-desktop: 1439px;
  --breakpoint-_4k: 1920px;

  /* colors */
  --color-primary: rgba(255, 0, 0, 1);
  --color-secondary: rgba(255, 0, 0, 0.1);

  /* gradient colors */
  --color-gradient-grey: hsla(0, 0%, 20%, 1);
  --color-gradient-black: hsla(0, 0%, 0%, 1);
  --color-gradient-blacklight: rgba(51, 51, 51, 1);

  /* For Splash Screen */
  @keyframes progress {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    button {
      cursor: pointer;
    }
  }
}
